body{
    background-image: url("./images/Fondo\ -\ Todo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
p,a,h1,li{
    color: white;
}
.section-Menu{
    background-image: url("./images/Fondo\ -Menu.png");
}



/*testimonio*/
.testimonial_subtitle{
    color: #0aaa7a;
    font-size: 12px;
}
  .testimonial_btn{
    background-color: #373d4b !important;
    color: #fff !important;
 }
 .seprator {
    height: 2px;
    width: 56px;
    background-color: #0aaa7a;
    margin: 7px 0 10px 0;
}

/*final*/
.final{
    display: flex;
    justify-content: space-between;
    align-items: center;
}